<!-- MAIN CONTENT -->
<% include ../partials/headcontent.ejs %>

    <div class="container white">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>
                    <%= title %>
                </h1>
                <form class="form" method="post">
                    <div class="form-group">
                        <label for="NameTextField">Name</label>
                        <input type="text" class="form-control" id="NameTextField" placeholder="Device Name" name="deviceName" value="<%= device_name%>" required>
                    </div>
                    <div class="form-group">
                        <label for="ImageTextField">Device Image</label>
                        <input type='file' id="asd" />
                        <br>
                        <img id="img" src="<%=device_image %>" />
                        <textarea class="" id="base" name="base"></textarea >
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
                    <a href="/device" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        function el(id) {
            return document.getElementById(id);
        } // Get elem by ID

        function readImage() {
            if (this.files && this.files[0]) {
                var FR = new FileReader();
                FR.onload = function(e) {
                    el("img").src = e.target.result;
                    el("base").innerHTML = e.target.result;
                };
                FR.readAsDataURL(this.files[0]);
            }
        }

        el("asd").addEventListener("change", readImage, false);
    </script>
    <% include ../partials/scripts.ejs %>