<header id="masthead" class="site-header" role="banner">
    <div class="header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <a href="http://www.wetraq.ca/" title="www.wetraq.ca"><img class="site-logo" src="http://www.wetraq.ca/wp-content/uploads/2016/02/logo.png" alt="www.wetraq.ca" /></a>
                </div>


            </div>
        </div>
    </div>
</header>
<!-- #masthead -->