<!-- Javascript -->
<script>
    $(function() {
        $("#slider-3").slider({
            range: true,
            min: 0,
            max: 500,
            values: [35, 200],
            slide: function(event, ui) {
                $("#price").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#price").val("$" + $("#slider-3").slider("values", 0) +
            " - $" + $("#slider-3").slider("values", 1));
    });
</script>


<div>
    <!-- HTML -->
    <p>
        <label for="price">Price range:</label>
        <input type="text" id="price" style="border:0; color:#b9cd6d; font-weight:bold;">
    </p>
    <div id="slider-3"></div>
</div>