<div class="container">
    <br>
    <br>
    <br>
    <input type="hidden" id="jsonresp" value="<%= devices%>">
    <header class="page-header">
        <h3>Movement History</h3>
    </header>
    <div class="col-sm-9">
        <select class="col-sm-3">
                <% for (let count = 0; count < devices.length; count++) { %>
            <option>
                    <%= devices[count].device_name %>
                  
                                </label>
            </option>
            <% }%>
        </select>
    </div>
    <div class="col-sm-9">
        <ul class="timeline">

        </ul>
    </div>
    <script src="/javascripts/jquery.js">
    </script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js">
    </script>

    <script>
        var origJSON = '{' +
            '"report": [{' +
            '"report_time": 1503679974,' +
            '"latitude": 48.420643,' +
            '"longitude": -89.245552,' +
            '"formatted_address": "513 Beverly St, Thunder Bay, ON P7B 5S7, Canada",' +
            '"battery": 52,' +
            '"report_type": "GPS",' +
            '	"accuracy": 0,' +
            '	"cmd": "R",' +
            '"title_key": "LOCATION_ALERT_TITLE",' +
            '"body_key": "LOCATION_ALERT_BODY"' +
            '	}, {' +
            '"report_time": 1503663992,' +
            '"latitude": 48.420601,' +
            '"longitude": -89.245537,' +
            '"formatted_address": "515 Pasteur Rd, Thunder Bay, ON P7B 5S7, Canada",' +
            '"battery": 50,' +
            '"report_type": "GPS",' +
            '	"accuracy": 0,' +
            '	"cmd": "R",' +
            '"title_key": "LOCATION_ALERT_TITLE",' +
            '"body_key": "LOCATION_ALERT_BODY"' +
            '}, {' +
            '	"report_time": 1503660768,' +
            '"latitude": 48.420589,' +
            '"longitude": -89.245522,' +
            '"formatted_address": "515 Pasteur Rd, Thunder Bay, ON P7B 5S7, Canada",' +
            '"battery": 48,' +
            '"report_type": "GPS",' +
            '"accuracy": 0,' +
            '"cmd": "R",' +
            '"title_key": "LOCATION_ALERT_TITLE",' +
            '	"body_key": "LOCATION_ALERT_BODY"' +
            '}, {' +
            '"report_time": 1503552492,' +
            '"latitude": 48.420601,' +
            '"longitude": -89.245476,' +
            '"formatted_address": "515 Pasteur Rd, Thunder Bay, ON P7B 5S7, Canada",' +
            '"battery": 53,' +
            '"report_type": "GPS",' +
            '"accuracy": 0,' +
            '"cmd": "R",' +
            '"title_key": "LOCATION_ALERT_TITLE",' +
            '"body_key": "LOCATION_ALERT_BODY"' +
            '}]}';

        //   var timestamp = 1382086394000;
        var dd = [];
        // var json = [];
        var lastDate = null;
        var i = 1;

        origJSON = JSON.parse(origJSON);

        var newJson = '{"report"' + ':[';
        var objectsArr = [];

        console.log(origJSON.report.length);
        for (j = 0; j < origJSON.report.length; j++) {

            var iii = origJSON.report[j].report_time * 1000; // to convert it into date format
            var date1 = moment(iii).format("MMMM DD,YYYY");


            // console.log(dd.toString() + "   >> ");
            // lastDate = date1; // update last date 
            var time = moment(iii).format("hh:mm a");
            console.log(" :: " + time + " is the time ");

            /********************** for new json object ****************/
            var lat = origJSON.report[j].latitude;
            var lng = origJSON.report[j].longitude;
            var unix_time = origJSON.report[j].report_time;
            var title_date = '"' + date1 + '"';
            var time_body = '"' + time + '"';
            var addr = [];
            addr = origJSON.report[j].formatted_address.split(",");
            var address1 = '"' + addr[0] + ' ' + addr[1] + '"';
            var address2 = '"' + addr[2] + ' ' + addr[3] + '"';

            var jsonObj = '{';
            jsonObj = jsonObj + '"unix_time"' + ':' + unix_time + ',';
            jsonObj = jsonObj + '"latitude"' + ':' + lat + ',';
            jsonObj = jsonObj + '"longitude"' + ':' + lng + ',';
            jsonObj = jsonObj + '"title_date"' + ':' + title_date + ',';
            jsonObj = jsonObj + '"time_body"' + ':' + time_body + ',';
            jsonObj = jsonObj + '"address1"' + ':' + address1 + ',';
            jsonObj = jsonObj + '"address2"' + ':' + address2 + '}';
            console.log(jsonObj);
            objectsArr.push(jsonObj);
        }
        newJson = newJson + objectsArr + ']}';
        console.log('>>>      ' + (newJson));
        console.log(JSON.parse(newJson));
        /********************** for new json object ends****************/

        /********************** set divs according to new json object ****************/
        var newJsonArr = JSON.parse(newJson);
        /********************** set divs according to new json object ends ****************/

        var addHtml;
        var lastDate = null;
        for (j = 0; j < newJsonArr.report.length; j++) {

            var newDate = newJsonArr.report[j].title_date;
            if (lastDate == newDate) // add data without title
            {
                console.log('>>> equals');
                if (j % 2 != 0) // even div
                {
                    addTimeInforDivEven(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                } else { // odd div

                    addTimeInforDivodd(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                }

            } else { // add data with title
                console.log(lastDate + ' **** not equals ' + newDate);
                addDateHeading(newDate);
                // if (j % 2 == 0) // even div
                // {
                //     addTimeInforDivEven(origJSON.report[j].time_body, origJSON.report[j].address1, origJSON.report[j].address2);
                // } else { // odd div

                addTimeInforDivodd(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                // }

            }
            lastDate = newDate;
            console.log(lastDate + '  %%% ');
            $('.timeline').html(addHtml);
        }

        function addDateHeading(dateTitle) {
            var html = ' <li>                <div class="tldate">' + dateTitle + '</div>            </li>  ';
            addHtml = addHtml + html;
        }

        function addTimeInforDivodd(time, address1, address2) {
            // html1 for odd indexes
            var html1 = '<li>' +
                '<div class="tl-circ"></div>' +
                '<div class="timeline-panel">' +
                '<div class="tl-heading">' +
                '<h4>' + address1 + '</h4>' +
                ' <p><small class="text-muted"><i class="glyphiconglyphicon-time"></i> ' + time + '</small></p>' +
                ' </div>' +
                '<div class="tl-body">' +
                '<p>' + address2 + '</p>' +
                ' </div>' +
                ' </div>' +
                '</li>';

            addHtml = addHtml + html1;
        }

        function addTimeInforDivEven(time, address1, address2) {
            // html1 for odd indexes
            var html1 = '<li class="timeline-inverted">' +
                '<div class="tl-circ"></div>' +
                '<div class="timeline-panel">' +
                '<div class="tl-heading">' +
                '<h4>' + address1 + '</h4>' +
                ' <p><small class="text-muted"><i class="glyphiconglyphicon-time"></i> ' + time + '</small></p>' +
                ' </div>' +
                '<div class="tl-body">' +
                '<p>' + address2 + '</p>' +
                ' </div>' +
                ' </div>' +
                '</li>';

            addHtml = addHtml + html1;
        }
    </script>