<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <% include ./partials/headcontent.ejs %>
</head>

<body>
    <div id="wrapper">
        <% include ./partials/navBar.ejs %>

    </div>
    <% include ./partials/scripts.ejs %>
</body>

</html>