<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <% include ./partials/headcontent.ejs %>
</head>

<div class="imgBg">

    <% include ./auth/loginPage.ejs %>
</div>


<body>

    <!-- /.container-fluid -->
    <% include ./partials/scripts.ejs %>
</body>

</html>