<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <% include ./partials/headcontent.ejs %>
</head>

<body>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-3">

                    <% include ./partials/navBar_user.ejs %>


                </div>
                <div class="col-lg-9">

                    <!-- Page Heading -->

                    <% include ./reportingschedule/schedule.ejs %>



                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->



    <!-- /.container-fluid -->


</body>

</html>