body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}

.imgBg {
    background-image: url("/images/1.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.loginBg {
    background-color: #544cb5;
    border: 1px solid white;
    opacity: 0.9;
    color: white;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
}

.loginBtn {
    background-color: white;
    color: black;
}

#map {
    height: 500px;
}

a {
    color: white;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Absolute-Center {
    height: 40%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.purpleText {
    color: #544cb5
}

.verticalSpace {
    margin-top: 3%;
}