body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}

.imgBg {
    background-image: url("/images/1.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.loginBg {
    background-color: #544cb5;
    border: 1px solid white;
    opacity: 0.8;
    color: white;
    margin: 5px;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

.loginBtn {
    background-color: white;
    color: black;
}

#map {
    height: 500px;
}

a {
    color: white;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Absolute-Center {
    height: 40%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.purpleText {
    color: #544cb5
}

.verticalSpace {
    margin-top: 3%;
}

#devicesJson {
    display: none;
}

.white {
    color: white;
    height: 100%
}

.weekDays-selector input {
    display: none!important;
}

.weekDays-selector {
    margin-left: 10%;
    margin-top: 10%;
}

.weekDays-selector input[type=checkbox]+label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 50px;
    width: 90px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.weekDays-selector input[type=checkbox]:checked+label {
    background: rgb(66, 139, 202);
    color: #ffffff;
}

.divbg_white {
    background: white;
    height: 800;
}

.text_black {
    color: black;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.text_transparent {
    color: transparent;
}


/*
for checkbox list view
*/

.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}


/* DEMO ONLY - REMOVES UNWANTED MARGIN */

.well .list-group {
    margin-bottom: 0px;
}


/*
for checkbox list view
*/